body{
  position: relative;
  margin: 0px;
}

nav{
  padding: 20%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav>img{
  display: block;
  margin: 0 auto;
}
nav>h3{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
}

section{
  position: absolute;
}

#left-gifs{
  position: absolute;
  height: 100%;
  width: 18%;
  cursor: pointer;
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
#right-gifs{
  position: absolute;
  height: 100%;
  width: 18%;
  cursor: pointer;
  right: 0;
  top: 0;
}

#content{
  width: 50%;
  margin: 0% 25%;
}

#content img{
  width: 100%;
  margin-bottom: 10%;
  border: 5px solid black;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer{
  position: absolute;
  background: #289DFF;
  width: 100%;
  padding: 5em 0;
}
footer>img{
  display: block;
  margin: 0 auto;
}
footer>h2,h3,h4{
  margin-top: 0px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
footer>h2>a,footer>h3>a,footer>h4>a{
  color: white;
  text-decoration: none;
}
footer>h2>a:hover,footer>h3>a:hover,footer>h4>a:hover{
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#gallery>img{
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.active{
  display: block;
}
.inactive{
  display: none;
}

audio{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
}
